[staging]
%{ for index, ip in public-ip ~}
${ip} ansible_host=${public-ip[index]}
%{ endfor ~}

[production]
%{ for index, ip in prod-ip ~}
${ip} ansible_host=${prod-ip[index]}
%{ endfor ~}

[servers_all:children]
staging
production
